.ToDo{
    width:35%;
}

.ToDo__container{
    background-color: white;
    padding:30px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.ToDo__container-list{
    background: linear-gradient(45deg, var(--title-color) 0%, var(--container-color-dark) 100%);
    padding:10px;
    width:100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ToDo__list-empty{
    color: var(--body-color);
}
.add__item{
    background-color: white;
    border-radius: 50%;
    width:5%;
    height: auto;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add__item span{
    color:black;
    font-weight: 900;
}
.todo__item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.todo__item-container span{
    cursor:pointer;
}
.todo__icons{
    width:30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

  .todo__item-container.fall {
    animation: fallAway forwards 1s ease-out 1;
    }

  @keyframes fallAway {
    0% {
      transform: rotateZ(0deg);
      top: 0;
      opacity: 1;
    }
    25% {
      transform: rotateZ(-15deg);
    }
    100% {
      top: 300px;
      transform: rotateZ(-5deg);
      opacity: 0;
    }
  }
  @media only screen and (max-width: 768px) {
    .ToDo{
      width:100%;
  }
  .ToDo__container{
    padding:0;
  }
  .ToDo__container-list{
    padding:0
  }
  }